<article>
    <section>
        <% @posts.each do |post| %>
        <div class="post">
            <div class="article-headder">
                <div class="article-headder-left">
                <img src="/images/profile_images/<%= post['profile_image']%>" >
                    <p><%= post['user_name']%></p>
                </div>
                <i class="fas fa-ellipsis-h"></i>
            </div>
            <img src="/images/post_images/<%= post['image']%>" alt="">
            <div  class="article-main">
            <% if post['liked_by'] == @active_user %>
                <a href="/dislike/<%= post['id']%>"><i class="fas fa-heart pink_heart"></i></a>
            <% else %>
                <a href="/like/<%= post['id']%>"><i class="far fa-heart white_heart"></i></a>
            <% end %>
                <div class="article-contents">
                    <h1><%= post['user_name']%></h1>
                    <p><%= post['content']%></p>
                </div>
            </div>
        </div>
                
        <% end %>
    </section>
    <aside>
        <div class="aside_top">
            <a href="/profile">
                <img src="/images/profile_images/<%= @profile_image%>">
            </a>
            <p><%= @name%></p>
        </div>
        <div class="aside_bottom">
        <p>hello</p>
        <h1>hi</h1>
        </div>
    </aside>
</article>

